/* Header section styles */
header {
  box-shadow: 0 0 4px 1px #474545;
}

.navBar {
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}

.navBrand {
  align-items: center;
}

.menuNav {
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
}

.menuNav {
  gap: 1.5rem;
}

.nav-link a {
  text-decoration: none;
}

.nav-link a.active {
  text-decoration: underline;
}

.action-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.free {
  background-color: dodgerblue;
  color: var(--clr-neutral-100);
  border: none;
}

.reserved {
  border: 1px solid var(--clr-secondary-400);
}

@media screen and (max-width: 40em) {
  .action-button {
    display: none;
  }
}

/* End of header section styles */
