/* Header section styles */
header {
  box-shadow: 0 0 4px 1px #474545;
}

.navBar {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navMenu {
  gap: 1.5rem;
}

.action-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: dodgerblue;
  color: var(--clr-neutral-100);
  border: none;
}

@media screen and (max-width: 40em) {
  .action-button {
    display: none;
  }
}

/* End of header section styles */
